<!-- <h1 class="title">Hello Angular</h1> -->

<!-- <app-demo></app-demo> -->

<!-- Bài tập 1 -->
<!-- <app-header></app-header>
<div class="d-flex">
  <app-sidebar class="w-25"></app-sidebar>
  <app-content class="w-75"></app-content>
</div>
<app-footer></app-footer> -->

<!-- Bài tập 2 -->
<!-- <app-baitap2></app-baitap2> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-baitap4></app-baitap4> -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- <app-attribute-directives></app-attribute-directives> -->

<!-- ng-content -->

<!-- Nội dung nằm trong đây sẽ thay thế cho ng-content trong component button -->
<!-- <app-button>
  Submit
</app-button> -->

<!-- <app-button>Click</app-button> -->

<!-- <div class="body"></div>

<app-card>
  <p slot="header">Sinh Viên</p>
  <div slot="body">
    <p>Nguyễn Văn Tèo</p>
    <p>FE54</p>
  </div>
  <button slot="footer" class="btn btn-success">Xem chi tiêt</button>
</app-card>

<app-card>
  <p slot="header">Profile</p>
  <div slot="body">
    <h1>Nguyễn Văn Tèo</h1>
    <p>FE54</p>
  </div>
  <button slot="footer" class="btn btn-primary">Xem chi tiêt</button>
</app-card> -->

<!-- Custom directives -->
<!-- <div appHighlight>
  Highlight
</div> -->


<!-- <app-interaction></app-interaction> -->

<!-- <app-baitap8></app-baitap8> -->

<router-outlet></router-outlet>













